/* Set font family and background color */
body {
    font-family: Arial, sans-serif;
    background-color: #4494b4;
     
}

/* Style the heading */
h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px;
    color: #333;
}
h2{
    color: rgb(233, 12, 12);
    text-align: center;
}

/* Style the form */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style the form labels */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

/* Style the form inputs */
input,
select {
    padding: 10px;
    border: none;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Style the button */
button {
    padding: 10px 20px;
    background-color: #00ff48;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #cc0794;
}

/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

th {
    background-color: #8b9732;
    color: #fff;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Style the search input */
#search {
    margin-right: 10px;
}

/* Style the message for no results */
#no-results {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}
